.report-tbody td {
  padding: 1rem;
}

.table-link {
  color: inherit;
}

.tabular {
  flex: 0.5;
  border: 1px solid #ccc;
  padding: 5px;
}

.bg-gray {
  background: #f0f0f0;
}

.bg-dark {
  background: var(--dark-bg-mild);
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
