.nav-wrap {
  margin-bottom: 0.5rem;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu span {
  margin: 0 0.3rem;
}

.nav-body {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.nav-icon-prog {
  flex: 0.2;
}

.nav-icon-prog input {
  width: 80%;
  margin-right: 5px;
}

.nav-search {
  flex: 0.8;
}

.tab-content {
  height: 100vh;
  overflow-y: scroll;
}

.tab-content::-webkit-scrollbar {
  width: 0;
}

.loading {
  padding: 1rem;
}

.content {
  padding: 0.5rem;
  cursor: pointer;
}

.content:hover {
  background: #e4e6eb;
}

.marked-bg {
  background: var(--light-blue-color);
}

.marked-dark-bg {
  background: var(--dark-bg-mild);
}

.bg-hover:hover {
  background: var(--dark-bg-mild);
  color: var(--color-secondary);
}

.current-marker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  background: #d4d6da3a;
}

.p-top {
  padding-top: 1rem;
}

.embed-responsive video {
  object-fit: cover !important;
}

.no-video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 320px;
}

.img-unvailable {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.in-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.find-bar {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid var(--bg-third);
  box-shadow: 0px 10px 38px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 0.5rem;
}

.find-bar-text {
  flex: 0.7;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid var(--bg-third);
}

.find-bar-text input {
  border: none;
  outline: none;
  width: 100%;
}

.find-bar-text span:last-of-type {
  margin-right: 1rem;
}

.find-bar-icons {
  flex: 0.3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.find-bar-icons span {
  margin-right: 0.5rem;
}

.bordered-btn {
  border: 1px solid var(--blue-color);
}

.dt-log-search {
  background: inherit;
  color: var(--color-white);
}

@media (max-width: 376px) {
  .nav-body {
    flex-direction: column;
    padding: 5px 0;
  }
  .nav-icon-prog {
    width: 100%;
  }

  .nav-icon-prog input {
    width: 100%;
  }

  .nav-search {
    width: 100%;
  }

  .load-video {
    margin-bottom: 1rem;
  }
}
