.non-cluster {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

.tb-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
