* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --color-white: #fff;
  /* --dark-bg-primary: #18191a; */
  --dark-bg-primary: #1b1b1b;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-bg-mild: #343434;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --green-color: #42b72a;
  --danger-color: #b94a48;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --border-primary: #cdcdcd;
  --border-primary-dark: #858585;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.dark-theme {
  background-color: var(--dark-bg-primary);
  color: var(--color-white);
}

.color-dark {
  color: var(--dark-color-primary);
}

.color-white {
  color: var(--color-white);
}

.admin-route {
  margin-left: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.username {
  margin-right: 1rem;
}

.d-flex-relative {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-2x {
  font-size: 18px;
}

.profile-menu {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 130px;
  border: 1px solid #f0f0f0;
  background: #f0f2f5;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 1;
}

.text-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-item {
  text-decoration: none;
  color: #65676b;
}

.flex-align-center {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.multi-select-container {
  width: 100% !important;
}

.btn-primary {
  color: #fff;
  background-color: #1266f1;
}

.btn-warning {
  color: #fff;
  background-color: #ffa900;
}

.btn {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow:
    0 2px 5px 0 rgb(0 0 0 / 20%),
    0 2px 10px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.cursor {
  cursor: pointer;
}

.f-w-600 {
  font-weight: 600;
}

/* ----- Hover----- */
.tr-hover:hover {
  background-color: #f4f4f4;
}

.hover1:hover {
  background: var(--bg-secondary);
}

.hover2:hover {
  background: var(--bg-third);
}

.hover3:hover {
  background: #d4d6da3a;
}
/* ----- Hover----- */

/* ----- Scrollbar----- */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}
/* ----- Scrollbar----- */

/* ------Circles------- */
.small-circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}
/* ------Circles------- */

.main-layout {
  margin-top: 80px;
}

.dt-card-theme {
  background: var(--dark-bg-mild);
  color: var(--color-white);
}

.dt-home-card-theme {
  background: var(--dark-bg-mild);
  color: var(--color-secondary);
}

.dt-table {
  color: var(--color-white);
}

.dt-row:hover {
  background-color: inherit;
}

.dt-modal-content {
  background-color: var(--dark-bg-mild);
}

.dt-form-control {
  color: var(--color-white);
  background-color: #212529;
}

/* Documentation Label */
.label-docs {
  position: relative;
  margin-bottom: 5px;
}

.label-img img {
  width: 16px;
  height: 16px;
  transform: translateY(-2px);
  margin: 0 5px;
}

.help-text {
  position: absolute;
  top: -95px;
  left: 0;
  transform: translateY(-10px);
  height: 100px;
  width: 200px;
  box-shadow: 1px 2px 1px var(--shadow-1);
  z-index: 1;
  background: var(--bg-secondary);
  border-radius: 5px;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.help-arrow-down {
  border-top: 10px solid #65676b;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -5px;
  left: 65%;
  width: 10px;
  z-index: 2;
  transform: translateX(50%);
}

.help-text-header {
  font-size: 14px;
  font-weight: 600;
}

.help-text-content {
  font-size: 13px;
  padding: 10px 0;
}

.mt-open {
  margin-top: 20px;
}
/* Documentation Label */

/* Copy */
.copy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Copy */

/* Custom */
.custom-card {
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1px;
}

.custom-card:hover {
  border: 1px solid var(--border-primary-dark);
}

/* Custom */

@media (max-width: 768px) {
  .custom-multiselect-control {
    width: 100% !important;
  }

  .multi-select-container {
    width: 100% !important;
  }
}
